.currency-table {
  height: 394px;
  &__table {
    border: 1px solid;
    width: 500px;
    border: 2px solid hsl(0, 0%, 80%);
    border-radius: 5px;
  }

  & th {
    height: 40px;
    background-color: white;
    width: 30%;
  }
  & tr {
    border: 1px solid #cccccc;
    &:nth-child(odd) {
      background-color: #cccccc;
    }
  }

  &__td {
    text-align: center;
    height: 40px;

    &-green {
      font-weight: 500;
      color: #228b22;
    }

    &-red {
      font-weight: 500;
      color: #ff5733;
    }

    &-max-height {
      background-color: #fff;
      height: 340px;
    }
  }
}
