.currency-page {
    &__select-group {
      max-width: 500px;
      display: flex;
      justify-content: center;
      margin: auto;
      padding: 0 20px 30px 20px;
  
      & > div {
        width: 100%;
  
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  
    &__content {
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
  }
  